:root {
	--default-background-color: #f3f4f9;
	--white: #fff;
	--blue: #1952e1;
	--dark-blue: #2e3e6e;
	--light-grey: #f8f8fb;
	--grey: #8b8b8b;

	--primary-text: #1a1a1a;
	--outside-primary-text: #1a1a1a;
	--grey-out-text: #9a9da4;

	--gap-16: 16px;
	--gap-24: 24px;
	--gap-40: 40px;

	--round: 4px;

	--black-hover: rgba(0, 0, 0, 0.5);
	--black-thumb: rgba(0, 0, 0, 0.3);
	--black-active: rgba(0, 0, 0, 0.6);
}

.dark {
	--default-background-color: #333;
	--outside-primary-text: #dddddd;

	--white: #121212;
	--light-grey: #232323;

	--grey-out-text: #eceff4;
	--primary-text: #eee;

	--black-hover: rgba(255, 255, 255, 0.5);
	--black-thumb: rgba(255, 255, 255, 0.3);
	--black-active: rgba(255, 255, 255, 0.6);
}
