/* Define the styles for the container */
::-webkit-scrollbar {
	width: 12px; /* Width of the entire scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: var(--black-hover); /* Color of the handle on hover */
}

/* Define the styles for the thumb */
::-webkit-scrollbar-thumb {
	background-color: var(--black-thumb); /* Color of the handle */
	border-radius: 6px; /* Rounded corners of the handle */
}

/* Define the styles for the track */
::-webkit-scrollbar-track {
	background-color: var(--white); /* Color of the track */
	border-radius: 6px; /* Rounded corners of the track */
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
	background-color: var(--black-active); /* Color of the handle on click */
}
